<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr class="star-light" />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>
          Hi! I'm a software engineer with a strong history of client services
          and project management experience.
          <br />
          <br />
          I'm open to new opportunities in New York or California. If you love
          your company and know that they're hiring, please reach out! I would
          love to hear from you.
        </p>
      </div>
      <div class="col-lg-4">
        <p>
          Outside of coding, I spend my time across a few favorite hobbies. I am
          very physically active. Some activities include bodybuilding, yoga, and
          volleyball.
          <br />

          <br />
          I love video games and host game nights with friends regularly. I
          enjoy bringing people together!
          <br />

          <br />
          I really like Broadway shows, both plays and musicals. I even self-taught myself some guitar for my love of music.
          <br />

          <br />
          I'm also interested in doing work to better the planet. I'm
          environmentally conscious and vegan.
          <br />
          <br />

        </p>
      </div>
    </div>
  </div>
  <div class="hobbyIcon">
      <img src="/img/hobbyIcons/strength.png" alt="bodybuilding" />
      <img src="/img/hobbyIcons/exercise.png" alt="yoga" />
      <img src="/img/hobbyIcons/controller.png" alt="gaming" />
      <img src="/img/hobbyIcons/guitar.png" alt="guitar" />
      <img src="/img/hobbyIcons/theater.png" alt="broadway" />
      <img src="/img/hobbyIcons/world.png" alt="environment" />
  </div>
</section>
